@import 'https://code.highcharts.com/css/highcharts.css';
.card-custom {
  margin: auto;
}

.card-img-custom {
    width: 100%;
    height: 100%;
}

.nathan-li { 
  cursor: pointer; 
}

.nathan-list-item {
  text-align: left;
  width: 200px;
  background-color: white;
  border: 1px solid black;
}

input {
  width: 100%;
  padding: 0.2em 0.2em;
  font-size: 1.1em;
  border-radius: 3px;
  border: 1px solid #cc3300;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.testing {
  width: 300px;
  position: realtive;
  z-index: 99;
  top: 50px;
  right: -10px;
  background-color: black;
  text-decoration-color: white;
  list-style-type: none;

}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
/*.card-body {
  width: 100%;
}*/



#pieChart {
  height: 400px;
  width: 100%;
  margin:  auto;
}
.highcharts-pie-series .highcharts-point {
  stroke: #EDE;
  stroke-width: 2px;
}
.highcharts-pie-series .highcharts-data-label-connector {
  stroke: silver;
  stroke-dasharray: 2, 2;
  stroke-width: 2px;
}




#decadesChart {
  height: 400px;
  width: 100%;
  margin-bottom:  10px;
  background-color: black;
}

/* Link the series colors to axis colors */
/**/




.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 2px;
}
