@import 'https://code.highcharts.com/css/highcharts.css';
.card-custom {
  margin: auto;
}

.card-img-custom {
    width: 100%;
    height: 100%;
}

input {
  width: 100%;
  padding: 0.2em 0.2em;
  font-size: 1.1em;
  border-radius: 3px;
  border: 1px solid #cc3300;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.testing {
  width: 300px;
  position: realtive;
  z-index: 99;
  top: 50px;
  right: -10px;
  background-color: black;
  text-decoration-color: white;
  list-style-type: none;

}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
/*.card-body {
  width: 100%;
}*/



#pieChart {
  height: 400px;
  width: 100%;
  margin:  auto;
}
.highcharts-pie-series .highcharts-point {
  stroke: #EDE;
  stroke-width: 2px;
}
.highcharts-pie-series .highcharts-data-label-connector {
  stroke: silver;
  stroke-dasharray: 2, 2;
  stroke-width: 2px;
}




#decadesChart {
  height: 400px;
  width: 100%;
  margin-bottom:  10px;
  background-color: black;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
  fill: #7cb5ec;
  stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
  stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
  fill: #7cb5ec;
}
.highcharts-color-1 {
  fill: #90ed7d;
  stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
  stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
  fill: #90ed7d;
}

.highcharts-color-2 {
  fill: #313131;
  stroke: #313131;
}
.highcharts-axis.highcharts-color-2 .highcharts-axis-line {
  stroke: #313131;
}
.highcharts-axis.highcharts-color-2 text {
  fill: #313131;
}
.highcharts-color-3 {
  fill: #2b908f;
  stroke: #2b908f;
}
.highcharts-axis.highcharts-color-3 .highcharts-axis-line {
  stroke: #2b908f;
}
.highcharts-axis.highcharts-color-3 text {
  stroke: #2b908f;
  fill: #2b908f;
}
.highcharts-color-4 {
  fill: #f45b5b;
  stroke: #f45b5b;
}
.highcharts-axis.highcharts-color-4 .highcharts-axis-line {
  stroke: #f45b5b;
}
.highcharts-axis.highcharts-color-4 text {
  fill: #f45b5b;
}
.highcharts-color-5 {
  fill: #7798BF;
  stroke: #7798BF;
}
.highcharts-axis.highcharts-color-5 .highcharts-axis-line {
  stroke: #7798BF;
}
.highcharts-axis.highcharts-color-5 text {
  fill: #7798BF;
}
.highcharts-color-6 {
  fill: #aaeeee;
  stroke: #aaeeee;
}
.highcharts-axis.highcharts-color-6 .highcharts-axis-line {
  stroke: #aaeeee;
}
.highcharts-axis.highcharts-color-6 text {
  fill: #aaeeee;
}





.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 2px;
}
